.appdatas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.successpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failurepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkTag {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logincontainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: fit-content;
}

.cardcontent {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}